<h1>App Components</h1>
<br/>

<br/>
<h1 *ngIf="show then ifBlock else elseBlock"></h1>


<ng-template #ifBlock>
    <h1>React with Code Step by step</h1>
</ng-template>


<ng-template #elseBlock>
    <h1>Angular with Code Step by step</h1>
</ng-template>

<!-- ----------------------------------------- -->

<!-- else if Condition  -->

<h1 *ngIf="new_show==='yes' then ifBlock else elseBlock"></h1>


<ng-template #ifBlock>
    <h1>React with Code Step by step</h1>
</ng-template>


<ng-template #elseBlock>
    <h1>Angular with Code Step by step</h1>
</ng-template>
